<div class="tile-list__wrap">
  <div class="tile-list">
    <app-tile
      *ngFor="let item of list"
      iconClassName="{{ item.iconClassName }}"
      title="{{ item.title }}"
      bottomText="{{ item.bottomText }}"
      value="{{ item.value }}"
      color="{{ item.color }}"
    ></app-tile>
  </div>
</div>
