@import "variables";
.tile-list{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-width: 630px;
  &__wrap{
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;

    margin-bottom: 20px - 10px; // minus padding bottom
    @include lg{
      overflow: hidden !important;
      margin-bottom: 30px - 10px; // minus padding bottom
    }
    @include xl{
      margin-bottom: 45px - 10px; // minus padding bottom
    }
  }
  app-tile{
    width: calc(33.33% - 10px);
  }
}
