@import "variables";

.tile{
  color: $white;
  &:before{
    top: 15px;
    right: -60px;
  }
  &:after{
    top: 160px;
    right: -12px;
  }
  &:before, &:after{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 105px;
    display: block;
    background: $white;
    opacity: 0.14;
    transition: transform 4s;
    transform: translate(0,0) scale(1);
  }
  &:hover{
    &:before{
      transform: translate(-15px,15px) scale(.8);
    }
    &:after{
      transform: translate(-30px,-20px) scale(1.2);
    }
  }
  &__wrap{
    min-width: 200px;
    position: relative;
    padding: 10px 12px;
    border-radius: 6px;
    @include lg{
      border-radius: 13px;
      padding: 20px 35px;
    }
    @include xxl{
      padding: 40px 45px;
    }
    background: linear-gradient(90deg, #C694F9, darken(#C694F9, 10%));
    &--blue{
      background: linear-gradient(90deg, #6AA5E3, darken(#6AA5E3, 10%));
    }
    &--orange{
      background: linear-gradient(90deg, #FEB683, darken(#FEB683, 10%));
    }
  }
  &__icon{
    span{
      font-size: 25px;
      line-height: 35px;
      @include lg{
        font-size: 30px;
        line-height: 43px;
      }
      @include xxl{
        font-size: 40px;
        line-height: 53px;
      }
    }
    margin-bottom: 4px;
    @include lg{
      margin-bottom: 8px;
    }
    @include xxl{
      margin-bottom: 12px;
    }
  }
  &__title{
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 4px;
    @include lg{
      margin-bottom: 6px;
      font-size: 20px;
    }
    @include xxl{
      font-size: 24px;
    }
  }
  &__value{
    line-height: 48px;
    font-size: 20px;
    margin-bottom: 15px;
    @include lg{
      font-size: 26px;
      margin-bottom: 30px;
    }
    @include xxl{
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  &__bottom-text{
    font-size: 18px;
    @include lg{
      font-size: 20px;
    }
    @include xxl{
      font-size: 24px;
    }
  }

}
