<div class="tile__wrap tile__wrap--{{ color }}">
  <div class="tile">
    <div class="tile__icon">
      <span class="{{ iconClassName }}"></span>
    </div>
    <div class="tile__title">
      {{ title }}
    </div>
    <div class="tile__value">{{ value | money }}</div>
    <div class="tile__bottom-text">
      {{ bottomText }}
    </div>
  </div>
</div>
