<div class="notify-item" [ngClass]="{ 'is-unread': unread }">
  <div class="notify-item__date">
    {{ data.date.getDate() }}. {{ data.date.getMonth() + 1 }}.
    {{ data.date.getFullYear() }}
  </div>
  <div class="notify-item__title">
    {{ data.title }}
  </div>
</div>
