
@import "variables";

.notify-item{
  text-decoration: none;
  color: $grayText;
  display: block;
  min-width: 200px;
  background-color: $white;
  transition: background-color .2s;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  border-bottom: 1px solid $grayLighter;
  &.is-unread{
    background-color: $grayLightest;
    .notify-item{
      &__title{
        font-weight: 500;
      }
    }
  }
  @include lg{
    padding: 10px 15px;
    font-size: 14px;
  }
  &__title{
    display: block;
  }
  &__date{
    display: block;
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 3px;
  }
  &:hover{
    background-color: $grayLighter;
  }
}
