@import "variables";

.title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include lg{
    margin-bottom: 30px;
  }
  @include xl{
    margin-bottom: 45px;
  }
  span{
    display: block;
    background: linear-gradient(#6FE3FF, darken(#6FE3FF, 10%));
    color: $white;
    text-align: center;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    font-size: 18px;
    @include lg{
      border-radius: 6px;
      width: 40px;
      height: 40px;
      margin-right: 12px;
      font-size: 24px;
    }
    @include xl{
      border-radius: 8px;
      width: 50px;
      height: 50px;
      margin-right: 16px;
      font-size: 30px;
    }
    &:before{
      vertical-align: middle;

      line-height: 30px;

      @include lg{
        line-height: 40px;
      }
      @include xl{
        line-height: 50px;
      }
    }
  }
  h1{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0 !important;
    @include lg{
      font-size: 20px;
    }
    @include xl{
      font-size: 24px;
    }
  }
}
