@import "variables";

.user{
  display: flex;
  align-items: center;
  &__text{
    margin-left: 11px;
    display: flex;
    flex-flow: column;
    @include md{
      display: none;
    }
    @include xl{
      display: flex;
    }
  }
  &__name {
    color: $grayText;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    @include lg{
      font-size: 16px;
      line-height: 20px;
    }
    @include xl{
      line-height: 24px;
      font-size: 18px;
    }
  }
  &__role{
    font-weight: 300;
    line-height: 19px;
    font-size: 12px;
    @include xl{
      font-size: 14px;
    }
  }
  &__img{
    width: 40px;
    height: 40px;
    background: $gray;
    border-radius: 50%;
    overflow: hidden;
    @include xl{
      width: 44px;
      height: 44px;
    }
  }
}
