<div class="user">
  <div class="user__img">
    <img src="" alt="" />
  </div>
  <div class="user__text">
    <div class="user__name">
      Angelina Doe
    </div>
    <div class="user__role">
      Project manager
    </div>
  </div>
</div>
