<div class="message-item">
  <div class="message-item__img">
    <img src="" alt="" />
  </div>
  <div class="message-item__text">
    <div class="message-item__author">
      {{ data.author }}
    </div>
    <div class="message-item__message">
      {{ data.title }}
    </div>
    <div class="message-item__date">
      {{ data.date.getDate() }}. {{ data.date.getMonth() + 1 }}.
      {{ data.date.getFullYear() }}
    </div>
  </div>
</div>
