
@import "variables";


.message-item{
  border-bottom: 1px solid $grayLighter;
  text-decoration: none;
  color: $grayText;
  display: block;
  min-width: 350px;
  background-color: $white;
  transition: background-color .2s;
  padding: 20px 30px;
  font-size: 18px;
  display: flex;
  @include lg{
    padding: 10px 15px;
    font-size: 14px;
  }
  &:hover{
    background-color: $grayLighter;
  }
  &__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $gray;
    margin-right: 10px;
  }
  &__text{
    width: calc(100% - 60px);
    text-align: left;
  }
  &__author{
    font-size: 14px;
    margin-bottom: 3px;
  }
  &__message{
    max-width: 260px;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
  &__date{
    float: right;
    font-size: 12px;
  }
}
