<!--The content below is only a placeholder and can be replaced.-->
<app-toolbar></app-toolbar>
<div class="app">
  <app-sidebar [ngClass]="{ 'is-open': isSidebarOpen$ | async }"></app-sidebar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
