@import "variables";

.app{
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-top: 45px;
  padding-bottom: 51px;
  @include lg{
    padding-top: 77px;
    padding-bottom: 0;
  }
  @include xl{
    padding-top: 103px;
  }
}

app-sidebar{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 51px;
  top: 45px;
  z-index: 10;
  transition: width .2s;
  @include md{
    width: 50px;
  }
  @include lg{
    top: 77px;
    right: auto;
  }
  @include xl{
    top: 103px;
    width: 20%;
  }
  transform: translateX(-100%);
  transition: transform .2s;
  &.is-open{
    transform: translateX(0);
  }
  @include md{
    transform: none;
  }
}

.content{
  transition: width .2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  max-width: 100%;
  @include md {
    padding: 50px 35px;
    margin-left: 50px;
    width: calc(100% - 50px);
  };
  @include xl{
    padding: 70px 37px 70px 60px;
    margin-left: 20%;
    width: 80%;
  }
}
