@import "variables";

.menu-main{
  &__list{
    @extend %list-reset;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item{
    padding: 0;
    margin: 0;
    display: block;
  }
  &__link{
    display: block;
    line-height: 20px;
    padding: 20px 0;
    font-weight: 500;
    text-decoration: none;
    color: $grayText;
    &:hover{
      color: $blueLight;
    }
    &.is-active{
      color: darken($blueLight, 15%);
    }
    @include md{
      font-size: 0;
      text-align: center;
      position: relative;
      &:before{
        content: attr(data-text);
        z-index: 10;
        position: absolute;
        left: calc(100% + 5px);
        top: 15px;
        font-size: 16px;
        padding: 4px;
        white-space: nowrap;
        font-weight: 300;
        border-radius: 0 5px 5px 0;
        background: $white;
        border-top: 1px solid $grayLighter;
        border-bottom: 1px solid $grayLighter;
        border-right: 1px solid $grayLighter;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s, visibility .2s;
      }
      &:hover{
        &:before{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @include xl{
      text-align: left;
      font-size: 18px;
      &:before{
        content: none;
      }
    }
    span{
      font-size: 18px;
      float: right;
      @include md{
        float: none;
        font-size: 18px;
      }
      @include xl{
        float: right;
      }
    }
  }
}
