<div class="menu-main" [ngClass]="{ 'is-open': isOpenOnMobile }">
  <ul class="menu-main__list">
    <ng-container *ngFor="let item of list">
      <li class="menu-main__item" *ngIf="item.data.menu">
        <a
          routerLink="{{ item.path }}"
          (click)="toggleMenu()"
          class="menu-main__link"
          [routerLinkActive]="['is-active']"
          attr.data-text="{{ item.data.name }}"
        >
          {{ item.data.name }}
          <span class="{{ item.data.icon }}"></span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
