@import "variables";


.btn{
  display: block;
  background-image: linear-gradient(#6FE3FF, darken(#6FE3FF, 10%));
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  &:hover{
    background-image: linear-gradient(darken(#6FE3FF, 10%), darken(#6FE3FF, 12%));
  }
  &--tablet-circle{

    @include only-md-lg{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      padding: 0;
      .btn{
        &__text{
          font-size: 0;
          &:before{
            content: attr(data-tablet-text);
            font-size: 24px;
            line-height: 40px;
          }
        }
      }
    };
  }
  &__text{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: $white;
  }
}

