<app-title iconClassName="icofont-text-height">
  Typography
</app-title>

<div class="box-white">
  <app-title iconClassName="icofont-badge">
    Nadpis h1 s ikonkou
  </app-title>
  <h1>Nadpis h1</h1>
  <h2>Nadpis h2</h2>
  <p>
    Suspendisse
    <a>odkaz v textu</a>
    vel nisi accumsan pretium. Etiam id massa ut neque iaculis auctor. Fermentum
    eu dictum risus consequat. Cras magna justo, iaculis non scelerisque eget,
    condimentum in tellus. Maecenas a sem quam. Suspendisse facilisis neque
    tempor enim imperdiet sodales. Vitae lobortis sapien vestibulum. Suspendisse
    vehicula libero vel nisi accumsan. Suspendisse vehicula libero vel nisi
    accumsan pretium. Etiam id massa ut neque iaculis auctor. Fermentum eu
    dictum risus consequat. Cras magna justo, iaculis non scelerisque eget,
    condimentum in tellus. Maecenas a sem quam. Suspendisse.
  </p>
  <p>
    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
    doming id quod mazim placerat facer possim assuiber tempor cum soluta nobis
    eleifend option congue nihil imperdiet doming id quod mazim placerat facer
    possim assum.
  </p>
  <h3>Nadpis h3</h3>
  <ul>
    <li>
      <strong>Etiam ante sem,</strong>
      porta a porttitor ut, varius varius metus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
  </ul>
  <ol>
    <li>
      <strong>Etiam ante sem,</strong>
      porta a porttitor ut, varius varius metus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Etiam ante sem,</strong>
      porta a porttitor ut, varius varius metus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Etiam ante sem,</strong>
      porta a porttitor ut, varius varius metus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
    <li>
      <strong>Etiam ante sem,</strong>
      porta a porttitor ut, varius varius metus.
    </li>
    <li>
      <strong>Nunc eu felis</strong>
      quis metus volutpat pellentesque.
    </li>
    <li>tincidunt enim sed cursus.</li>
    <li>
      Nunc eu felis quis metus volutpat pellentesque. Nunc eu felis quis metus
      volutpat pellentesque. Nunc eu felis quis metus volutpat pellentesque.
      Nunc eu felis quis metus volutpat pellentesque. Nunc eu felis quis metus
      volutpat pellentesque. Nunc eu felis quis metus volutpat pellentesque.
      Nunc eu felis quis metus volutpat pellentesque.
    </li>
    <li>
      <strong>Duis gravida</strong>
      tincidunt enim sed cursus.
    </li>
  </ol>
  <p>
    Suspendisse
    <a>odkaz v textu</a>
    vel nisi accumsan pretium.
    <i>Etiam id massa ut neque iaculis auctor.</i>
    Fermentum eu dictum risus consequat. Cras magna justo, iaculis non
    scelerisque eget, condimentum in tellus. Maecenas a sem quam. Suspendisse
    facilisis neque tempor enim imperdiet sodales. Vitae lobortis sapien
    vestibulum. Suspendisse vehicula libero vel nisi accumsan. Suspendisse
    vehicula libero vel nisi accumsan pretium. Etiam id massa ut neque iaculis
    auctor. Fermentum eu dictum risus consequat. Cras magna justo, iaculis non
    scelerisque eget, condimentum in tellus. Maecenas a sem quam. Suspendisse.
  </p>
  <p>
    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
    doming id quod mazim placerat facer possim assuiber tempor cum soluta nobis
    eleifend option congue nihil imperdiet doming id quod mazim placerat facer
    possim assum.
  </p>
  <blockquote>
    <p>
      Bloková citace - Mirum est notare quam littera gothica, quam nunc putamus
      parum claram, anteposuerit litterarum formas humanitatis per seacula
      quarta
    </p>
  </blockquote>
  <p>
    Mirum est notare quam littera gothica, quam nunc putamus parum claram,
    anteposuerit litterarum formas humanitatis per seacula quarta decima et
    quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
    sollemnes in futurum.
    <br />
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
    et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
    delenit augue duis dolore te feugait nulla facilisi. Nam
    <strong>liber tempor cum soluta nobis</strong>
    eleifend option congue nihil imperdiet doming id quod mazim placerat facer
    possim assum.
  </p>
  <h4>Nadpis 4 úrovně</h4>
  <ol>
    <li>Číslovaný seznam</li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    </li>
    <li>
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, uis nostrud exercitation ullamco laboris nisi ut iquip x ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse
    </li>
    <li>
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.
    </li>
  </ol>
  <hr />
  <p>
    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
    doming id quod mazim placerat facer possim assum.
  </p>
  <dl>
    <dt>Definiční seznam</dt>
    <dd>
      Hodně dlouhá Hodnota definice Hodně dlouhá Hodnota definice Hodně dlouhá
      Hodnota definice Hodně dlouhá Hodnota definice Hodně dlouhá Hodnota
      definice Hodně dlouhá Hodnota definice
    </dd>
    <dt>Definiční seznam</dt>
    <dd>Hodnota definice</dd>
    <dt>Definiční seznam</dt>
    <dd>Hodnota definice</dd>
    <dt>Definiční seznam</dt>
    <dd>Hodnota definice</dd>
  </dl>
  <h5>Nadpis 5 úrovně</h5>
  <p>
    <a class="ext">Ext. odkaz</a>
  </p>
  <h6>Nadpis 6 úrovně</h6>
  <p>
    <cite>
      Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
      molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
      eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
      zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
      tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
      quod mazim placerat facer possim assum.
    </cite>
  </p>
  <table>
    <caption>Nadpis tabulky</caption>
    <thead>
      <tr>
        <th>Rozlišení</th>
        <th>Úhlopříčka</th>
        <th>Záruka</th>
        <th>Výška</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
      <tr>
        <td>ff</td>
        <td>fff</td>
        <td>fdsd</td>
        <td>fsdf</td>
      </tr>
    </tbody>
  </table>
</div>
