<div class="user-menu" [ngClass]="{ 'is-open': isOpen }">
  <div
    class="user-menu__mobile-overlay"
    [ngClass]="{ 'is-open': isOpen }"
    (click)="hide()"
  >
    <span class="icofont-close"></span>
  </div>
  <div class="user-menu__link-wrap" (click)="toggle()" (clickOutside)="hide()">
    <div class="user-menu__img">
      <img src="" alt="" />
    </div>
    <div class="user-menu__name">
      {{ data.userName }}
    </div>
  </div>
  <ul class="user-menu__list">
    <li class="user-menu__item" *ngFor="let item of data.list">
      <app-default-item [data]="item"></app-default-item>
    </li>
  </ul>
</div>
