@import "variables";

.user-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color .2s;
  @include lg{
    border: 1px solid rgba($grayLighter, 0);
  }
  @include xl{
    min-width: 230px;
  }
  &:hover, &.is-open{
    border-color: $grayLighter;
  }
  &__mobile-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0,0,0,.7);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    &.is-open{
      opacity: 1;
      visibility: visible;
    }
    span{
      position: absolute;
      top: 15px;
      right: 15px;
      color: $white;
      font-size: 24px;
    }
    @include lg{
      display: none !important;
    }
  }
  &.is-open{
    &:after{
      transform: translateX(-15px) rotate(180deg);
    }
    .user-menu{
      &__list{
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        @include lg{
          opacity: 1;
          transform: none;
        }
      }
    }
  }
  &:after{
    content: '\eab2';
    font-family: IcoFont;
    color: $blue;
    font-size: 16px;
    transform: translateX(-15px);
    z-index: -1;
    display: none;
    @include lg{
      display: block;
    }
  }

  &__link-wrap{
    cursor: pointer;
    display: flex;
    align-items: center;
    @include lg{
      padding: 15px;
    }
  }
  &__item{
    &:last-child{
      .user-menu{
        &__link{
          border-bottom: 0;
        }
      }
    }
  }
  &__list{
    @extend %list-reset;
    visibility: hidden;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s, visibility .2s;
    visibility: hidden;
    right: -1px;
    list-style: none;
    background: $white;
    border-radius: 5px;
    border: 1px solid $grayLighter;
    min-width: 300px;
    @include lg{
      border-radius: 0 0 5px 5px;
      position: absolute;
      min-width: auto;
      top: 100%;
      left: -1px;
      transform: none;
      transition: opacity .2s, visibility .2s;
      opacity: 0;
    }
  }
  &__name{
    font-size: 16px;
    color: $grayText;
    margin: 0 8px;
    font-weight: 300;
    display: none;
    @include lg{
      display: block;
    }
  }
  &__img{
    background: $gray;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    @include lg{
      width: 44px;
      height: 44px;
    }
  }
}
