@import 'variables';

.toolbar{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;


  align-items: center;

  background-color: $white;
  padding: 10px;
  z-index: 20;
  @include lg{
    z-index: 10;
    padding: 15px 0;
  }
  @include xl{
    padding: 28px 0;
  }

  &__mobile-toggle{
    display: block;
    color: $grayIcon;
    font-size: 24px;
    line-height: 25px;
    vertical-align: middle;
    @include md{
      display: none;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    z-index: 20;
    border-top: 1px solid $grayLighter;
    & > *{
      width: 20%;
      padding: 10px;
      text-align: center;
    }
    @include lg{
      border-top: 0;
      & > * {
        width: auto;
        padding: 0;
      }
        z-index: 0;
      position: relative;
      bottom: auto;
      right: auto;
      left: auto;
      height: 47px;
      width: 420px;
    }
  }

  &__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
    @include lg{
      width: 80%;
      height: 47px;
      padding: 0 37px;
    }
  }

  &__logo{
    display: flex;
    align-items: center;
    width: 120px;
    line-height: 1;
    @include md{
      margin-right: 50px;
    }
    @include lg{
      margin-right: 0;
      justify-content: center;
      width: 180px;
    }
    @include xl{
      width: 20%;
      height: 47px;
    }
    span{
      color: $blueLight;
      font-weight: bold;
      font-size: 25px;
      @include lg{
        font-size: 35px;
      }
    }
  }
}
