<div class="toolbar">
  <div class="toolbar__logo">
    <span>
      blueBox
    </span>
  </div>
  <div class="toolbar__main">
    <div class="toolbar__search">
      <app-only-mobile [reverse]="true">
        <app-search></app-search>
      </app-only-mobile>
    </div>
    <div class="toolbar__nav">
      <app-user-menu></app-user-menu>
      <app-dropdown [data]="dataDropdownMessage"></app-dropdown>
      <app-dropdown [data]="dataDropdownNotify"></app-dropdown>
      <app-dropdown [data]="dataDropdown"></app-dropdown>
    </div>
    <div class="toolbar__mobile-toggle">
      <app-toggler></app-toggler>
    </div>
  </div>
</div>
