<div class="sidebar">
  <app-user></app-user>
  <app-menu-main></app-menu-main>
  <app-button [circleOnTablet]="true" circleOnTabletContent="+">
    Add Project
  </app-button>
  <app-only-mobile>
    <app-search></app-search>
  </app-only-mobile>
</div>
