@import "variables";

.sidebar{
  display: flex;
  background: $white;
  box-sizing: border-box;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  @include md{
    padding: 5px;
  }
  @include xl{
    padding: 30px;
  }
  @include xxl{
    padding: 40px;
  }
  @include xxxl{
    padding: 50px 80px 50px 50px;
  }
  app-user{
    margin-bottom: 20px;
  }
  app-menu-main{
    margin-bottom: 20px;
  }
  app-button{
    margin-bottom: 30px;
    @include md{
      margin: 0;
    }
  }
}
