@import "variables";

.dropdown{
  position: relative;
  &__mobile-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0,0,0,.7);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    &.is-open{
      opacity: 1;
      visibility: visible;
    }
    span{
      position: absolute;
      top: 15px;
      right: 15px;
      color: $white;
      font-size: 24px;
    }
    @include lg{
      display: none !important;
    }
  }
  &__link{
    text-decoration: none;
    color: $grayIcon;
    transition: color .2s;
    cursor: pointer;
    position: relative;
    &:hover{
      color: darken($grayIcon, 10%)
    }
    &.notify{
      &:before{
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: block;
        background: $green;
        position: absolute;
        top: -5px;
        right: -5px;
      }
    }
    span{
      font-size: 20px;
    }
  }
  &__list-wrap{
    visibility: hidden;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s, visibility .2s;
    visibility: hidden;
    &.is-open{
      transform: translate(-50%, -50%) scale(1);
      visibility: visible;
    }
    @include lg{
      position: absolute;
      padding-top: 10px;
      top: 100%;
      right: 0;
      bottom: auto;
      left: auto;
      transform: none !important;
      opacity: 0;
      transition: opacity .2s, visibility .2s;
      &.is-open{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__list{
    @extend %list-reset;
    background: $white;
    border: 1px solid $grayLight;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include lg{
      max-height: 300px;
      box-shadow: 0 3px 6px rgba(157, 206, 255, 0.16);
    }
  }
  &__item{
    padding: 0;
    margin: 0;
    display: block;
  }
  &__list-link{
    display: block;
    text-decoration: none;
    color: $grayText;
  }
}
