<div class="dropdown">
  <span
    class="dropdown__link"
    (click)="toggle()"
    [ngClass]="{ notify: data.notify }"
    (clickOutside)="hide()"
  >
    <span [class]="data.icon"></span>
  </span>
  <div
    class="dropdown__mobile-overlay"
    [ngClass]="{ 'is-open': isOpen }"
    (click)="hide()"
  >
    <span class="icofont-close"></span>
  </div>
  <div class="dropdown__list-wrap" [ngClass]="{ 'is-open': isOpen }">
    <ul class="dropdown__list">
      <li class="dropdown__item" *ngFor="let item of data.list">
        <ng-container [ngSwitch]="data.type">
          <ng-container *ngSwitchCase="'notify'">
            <a class="dropdown__list-link">
              <app-notify-item [data]="item"></app-notify-item>
            </a>
          </ng-container>
          <ng-container *ngSwitchCase="'message'">
            <a class="dropdown__list-link">
              <app-message-item [data]="item"></app-message-item>
            </a>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <a class="dropdown__list-link">
              <app-default-item [data]="item"></app-default-item>
            </a>
          </ng-container>
        </ng-container>
      </li>
    </ul>
  </div>
</div>
