@import 'variables';

.search{
  position: relative;
  padding-left: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  @include lg{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__results{
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    background-color: $white;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid $grayLight;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 6px rgba(157, 206, 255, 0.16);
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 200px;
    width: 100%;
    @include md{
      width: 300px;
      max-height: 300px;
    }
    &__list{
      display: block;
      padding: 0;
      margin: 0;
    }
    &__item{
      display: block;
      margin: 0;
      padding: 0;
      &:before{
        content: none;
      }
    }
    &__link{
      background: $white;
      display: block;
      color: $gray;
      text-decoration: none;
      padding: 10px 8px;
      &:hover{
        background: $grayLighter;
      }
    }
  }
  @include md{
    padding-left: 30px;
    height: 28px;
  }
  @include xl{
    height: auto;
    padding-left: 56px;
  }
  &:before{
    content: "\ed1b";
    font-family: IcoFont;
    position: absolute;
    left: 0;
    color: $gray;
    font-size: 22px;
    line-height: 40px;
    @include md{
      font-size: 20px;
      line-height: 28px;
    }
    @include xl{
      font-size: 24px;
      line-height: 1.4;
    }
  }
  &__input{
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    &:focus{
      & + .search__results{
        opacity: 1;
        visibility: visible;
      }
    }
    @include md{
      font-size: 16px;
      line-height: 28px;
      width: 300px;
    }
    @include xl{
      line-height: 1.4;
      font-size: 18px;
    }
    &::placeholder{
      font-weight: 300;
      color: $gray;
    }
  }
}
