<div class="search">
  <input type="text" class="search__input" placeholder="Search project" />
  <div class="search__results">
    <ul class="search__results__list">
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
      <li class="search__results__item">
        <a class="search__results__link">
          Lorem Ipsum
        </a>
      </li>
    </ul>
  </div>
</div>
