/* You can add global styles to this file, and also import other style files */

@import 'variables'; // style located at src/
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; // style from node_modules
//@import '../node_modules/typeface-montserrat/index.css';
@import "~bootstrap-4-grid";
@import "icofont.css";
@import "typography";


html, body {
  height: 100%;
}

body {
  background-color: $grayLight;
  font-family: "Montserrat";
  line-height: 1.4;
  font-size: 15px;
  color: $grayText;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

input {  /* stylelint-disable-line selector-max-type */
  border: none;
  background: none;
}

*{
  &::-webkit-scrollbar {width: 5px; height: 0;}
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
  }
  &:hover::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.45)}
  &::-webkit-scrollbar-thumb:hover {background: rgba(0,0,0,0.55)}
}

.box-white {
  background: $white;
  box-shadow: 0 3px  6px rgba(157,  206, 255, .16);
  padding: 15px 20px;
  border-radius: 6px;
  @include lg{
    padding: 30px 40px;
    border-radius: 8px;
  }
  @include xl{
    padding: 46px 65px;
    border-radius: 10px;
  }
  &--no-padding-bottom{
    padding-bottom: 0 !important;
  }
}
