h1, h2, h3, h4{
  font-weight: 400;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
  @include lg{
    margin-bottom: 15px;
    font-size: 24px;
  }
  @include xl{
    margin-bottom: 23px;
    font-size: 28px;
  }
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  @include lg{
    margin-bottom: 15px;
    font-size: 20px;
  }
  @include xl{
    margin-bottom: 23px;
    font-size: 24px;
  }

}


h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 300;
  @include lg{
    margin-bottom: 15px;
    font-size: 20px;
  }
  @include xl{
    margin-bottom: 23px;
    font-size: 24px;
  }

}


h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
  @include lg{
    font-size: 18px;
  }
  @include xl{
    font-size: 22px;
  }

}

a{ // link
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  &.ext, &[target="_blank"]{
    &:after{
      content: '\ef1f';
      font-family: IcoFont;
      display: inline-block;
      margin-left: 5px;
    }
  }
  &:hover{
    color: darken($blue, 10%);
    text-decoration: none;
  }
}


p{
  margin-bottom: 18px;
}

hr{
  margin-top: 18px;
  margin-bottom: 18px;
  border-color: $grayLighter;
  border-style: solid;
}

ul, ol{
  margin-bottom: 18px;
  padding-left: 25px;
  list-style: none;
  li{
    line-height: 1.5;
    padding-left: 5px;
    margin-bottom: 5px;
    position: relative;
  }
}
ul{
  li{
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: -17px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transform: translateY(-2px);
      background: $gray;
    }
  }
}

ol{
  counter-reset: list;
  li{
    counter-increment: list;
    &:before{
      content: counter(list);
      position: absolute;
      left: -25px;
      top: -2px;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      vertical-align: middle;
      line-height: 24px;
      font-size: 12px;
      font-weight: 500;
      background-image: linear-gradient(90deg, $blueLight, darken($blueLight, 10%));
      color: $white;
      text-align: center;
      display: block;
    }
  }
}

dl{
  margin-bottom: 18px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  dt{
    width: 200px;
    font-weight: 500;
    padding-right: 5px;
  }
  dd{
    width: calc(100% - 200px);
    font-weight: 300;
  }
}

table{
  text-align: left;
  width: 100%;
  @include lg{
    margin-left: -10px;
    margin-right: -10px;
  }
  border-collapse: collapse;
  caption{
    @extend h2;
    margin-bottom: 0;
  }
  td, th{
    border-bottom: 1px solid $grayLighter;
    padding: 10px 0;
    &:last-child{
      border-bottom: none;
    }
    @include md{
      &:last-child{
        border-bottom: 1px solid $grayLighter;
      }
    }
    @include lg{
      padding: 15px 0;
    }
    @include xl{
      padding: 20px 0;
    }
  }
  tbody tr{
    background-color: #fff;
    transition: background-color .2s;
  }
  tbody tr:hover{
    background-color: $grayLighter;
  }
  tr:last-child td{
    border-bottom: none;
  }
  thead{
    display: none;
    @include md{
      display: table-header-group;
    }
    th{
      font-weight: 400;
      font-size: 14px;
      @include lg{
        font-size: 15px;
      }
      @include xl{
        font-size: 16px;
      }
    }
  }
  tr{
    display: block;
    border-bottom: 1px solid $gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
    td, th{
      &:first-child{
        @include lg {
          padding-left: 10px;
        }
      }
      &:last-child{
        @include lg{
          padding-right: 10px;
        }
      }
    }
    &:last-child{
      border-bottom: 0;
    }
    @include md{
      display: table-row;
      margin-bottom: 0;
      border: 0;
    }
  }
  td{
    font-weight: 300;
    font-size: 13px;
    display: block;
    &:before{
      content: attr(data-label) ": ";
      font-weight: 400;
    }
    @include md{
      display: table-cell;
      &:before{
        content: none;
      }
    }
    @include lg{
      font-size: 14px;
    }
    @include xl{
      font-size: 15px;
    }
  }
}
