$blueLight: #3BCCF6;
$blue: #6AA5E3;
$white:     #FFFFFF;
$grayLightest: #FAFAFA;
$grayLighter: #EFEFEF;
$grayLight:      #F5F5F5;
$gray:      #9F9F9F;


$grayIcon: #C7C7C7;
$grayText: #707070;


// media queries

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1350px;
$screen-xxxl-min: 1600px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xl-max: 1349px;
$screen-xxl-max: 1599px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin xxxl {
  @media (min-width: #{$screen-xxxl-min}) {
    @content;
  }
}

@mixin only-sm {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin only-md {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin only-lg {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin only-xl {
  @media (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin only-xxl {
  @media (min-width: #{$screen-xxl-min}) and (max-width: #{$screen-xxl-max}) {
    @content;
  }
}

@mixin only-md-lg {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;



%list-reset{
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  counter-reset: none;
  li{
    counter-increment: none;
    padding-left: 0;
    margin-bottom: 0;
    position: static;
    &:before{
      content: none;
      position: static;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      border-radius: 0;
      transform: none;
      background: transparent;
    }
  }
}




