
@import "variables";

.default-item{
  text-decoration: none;
  color: $grayText;
  display: block;
  min-width: 200px;
  background-color: $white;
  transition: background-color .2s;
  padding: 20px 30px;
  font-size: 18px;
  cursor: pointer;
  @include lg{
    padding: 10px 15px;
    font-size: 14px;
  }
  &--red{
    color: $red;
  }
  &--bold{
    font-weight: 500;
  }
  &:hover{
    background-color: $grayLighter;
  }
}
