<div class="box-white box-white--no-padding-bottom">
  <h2>
    Standard Table Design
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let heading of getColumnsHeadings()">
          {{ heading }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let item of getRowData(row)">
          {{ item }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
